
#mainPane {
    -fx-background-color: linear-gradient(to right, #775749, #282444);

    /*-fx-background-image: url("../img/test.jpg");*/
    /*-fx-background-size: cover;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
}


.panel {
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-background-color: #ccd4dc;
}



.confirmButton {
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;

    -fx-background-radius: 25;
    -fx-border-radius: 25;

    -fx-background-color: linear-gradient(to right, #775749, #282444);
}
.confirmButton:hover {
    -fx-font-size: 20px;

    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #36333a, 6, 0.5, 0, 2);
}



.sideButton {
    -fx-text-fill: #fff;

    -fx-border-radius: 25 0 0 25;
    -fx-background-radius: 25 0 0 25;
    -fx-background-position: 20 12;
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 100%;

    -fx-background-color: #775749;
}
.sideButton:hover {
    -fx-font-size: 20px;
    -fx-cursor: hand;

    -fx-background-color: linear-gradient(to left, #775749, #282444);
    -fx-effect: dropshadow(three-pass-box, #000000, 6, 0.5, 0, 2);
}
.sideButton:selected{
    -fx-font-size: 20px;
}
#closeButton.sideButton {
    -fx-text-fill: #fff;

    -fx-border-radius: 25 0 0 25;
    -fx-background-radius: 25 0 0 25;
    -fx-background-position: 20 12;
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 100%;
    -fx-background-color: #CD5C5C;
}




.enterZone {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}
.enterZone:hover {
    -fx-color: #1a83e1;
    -fx-effect: innershadow(three-pass-box, #fff600, 10, 0.2, 0, 0);
}
.enterZone:selected{
    -fx-color: #1a83e1;
}

#passwordEnterZone:selected{
    -fx-background-color: #FF0000;
}

